body {
  min-width: 320px;
  max-width: 750px;
  background-color: #F2F4F7;
}
a {
  text-decoration: none;
  color: #707070;
}
@media screen and (min-width: 750px) {
  html {
    font-size: 37.5px !important;
  }
}
.header {
  height: 2.1333rem;
  color: #1C1C1C;
  font-size: 0.9333rem;
  text-align: center;
  line-height: 2.1333rem;
  border-bottom: 1px solid #EAEAEA;
}
.warp {
  background-color: #fff;
  padding-bottom: 1.1467rem;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 1.0667rem 0 1.6rem 0;
}
.nav .items {
  display: flex;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
}
.nav .items img {
  height: 3.7067rem;
  width: 3.7067rem;
}
.nav .items span {
  font-size: 0.6667rem;
}
.nav .items:nth-child(-n+3) {
  padding-bottom: 1.6533rem;
}
.go {
  margin: 0 0.2667rem 0 0.48rem;
}
.content {
  position: relative;
  background-color: #fff;
  margin-top: 10px;
  padding: 0.8533rem 0.64rem;
}
.content .content-hd {
  display: flex;
  justify-content: space-between;
  height: 0.8533rem;
  line-height: 0.8533rem;
}
.content .content-hd h4 {
  margin: 0;
  color: #333;
  font-size: 0.7467rem;
}
.content .content-hd h4 img {
  display: inline-block;
  width: 0.8533rem;
  height: 0.8533rem;
  vertical-align: middle;
  margin-top: -3px;
}
.content .content-hd .more {
  color: #999;
  font-size: 0.5867rem;
}
.content .bd .swiper-container {
  width: 14.4rem;
  height: 100%;
}
.content .bd .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
  opacity: 0.4;
}
.content .bd .swiper-slide a {
  width: 9.0133rem;
  height: 10.0267rem;
}
.content .bd .swiper-slide a img {
  width: 100%;
  height: 100%;
}
.content .bd .swiper-slide p {
  width: 9.0133rem;
  margin-top: 0.2667rem;
  color: #333;
  font-size: 0.6667rem;
}
.content .bd .swiper-slide-active,
.content .bd .swiper-slide-duplicate-active {
  transform: scale(1);
  z-index: 999;
  opacity: 1;
}
.studys {
  overflow: hidden;
  padding-top: 0.5333rem;
  padding-bottom: 2.6667rem;
}
.studys .swiper-slide {
  font-size: 18px;
  background: #fff;
  border: 1px solid #999;
  width: 7.7333rem;
  height: 8.0667rem;
  border-radius: 0.2667rem;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}
.studys .swiper-slide h5 {
  font-size: 0.6933rem;
  margin: 0.2667rem 0.5333rem;
  font-weight: 400;
}
.studys .swiper-slide p {
  font-size: 0.64rem;
  margin: 0.2667rem 0.5333rem;
  color: #FF6932;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.9333rem;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 9999;
  display: flex;
}
.footer .items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .items img {
  margin-top: 0.5333rem;
  width: 1.04rem;
  height: 1.0133rem;
}
.footer .items p {
  font-size: 0.5867rem;
  color: #666;
  margin-top: 0.2667rem;
}
